Aaron Morton <aaron@the-mortons.org> <aaron@thelastpickle.com> 
Aaron Ploetz <aaronploetz@gmail.com> 
Abhishek Gupta <abhishek_gupta@persistent.com> 
Abhishek Verma <verma@uber.com> 
Achal Shah <m@achals.com> 
Achilleas Anagnostopoulos <achilleas.imap.mbox@gmail.com> 
Adam Holmberg <Adam.Holmberg@datastax.com> <adam.holmberg@datastax.com> 
Akhil Mehra <akhilmehra@gmail.com> 
Al Tobey <tobert@gmail.com> 
Alain Rastoul <alain.rastoul@free.fr> 
Alain Rodriguez <arodrime@gmail.com> 
Alan Boudreault <alan.boudreault@datastax.com> <alan@alanb.ca> 
Alan Boudreault <alan.boudreault@datastax.com> <alan@kovaro.ca> 
Alec Grieser <ahgrieser@gmail.com> 
Aleksandr Sorokoumov <aleksandr.sorokoumov@gmail.com> 
Aleksey Yeschenko <aleksey@apache.org> Aleksey Yeschenko <aleksey@apple.com> 
Aleksey Yeschenko <aleksey@apache.org> Aleksey Yeschenko <aleksey@yeschenko.com> 
Aleksey Yeschenko <aleksey@apache.org> Aleksey Yeshchenko <aleksey@apache.org> 
Aleksey Yeschenko <aleksey@apache.org> Aleksey Yeshchenko <aleksey@apple.com> 
Alex <stillalex@apache.org> 
Alex Buck <alex.buck10@gmail.com> 
Alex Liu <alex_liu68@yahoo.com> 
Alex Lourie <alex@instaclustr.com> 
Alex Ott <alexott@gmail.com> 
Alex Petrov <oleksandr.petrov@gmail.com> 
Alexander Dejanovski <alex@thelastpickle.com> 
Alexander Shopov <lists@kambanaria.org> 
Alexandre Dutra <adutra@users.noreply.github.com> 
Alexey Burylov <a.burylov@qiwi.ru> 
Alwyn Davis <alwyn@instaclustr.com> Alwyn <alwyn@instaclustr.com>  
Amanda Debrot <amanda.debrot@synchronoss.com> 
Amichai Rothman <amichai2@amichais.net> 
Amit Deshpande <Amit.Deshpande@capitalone.com> 
Amit Singh Chowdhery <amit.f.singh@ericsson.com> 
Amos Jianjun Kong <kongjianjun@gmail.com> 
An Wu <anwu@andrew.cmu.edu> 
Andrew Tolbert <andrew.tolbert@datastax.com> 
Andrés de la Peña <a.penya.garcia@gmail.com> 
Andrzej Ludwikowski <andrzejlud@op.pl> 
André Laszlo <andre.laszlo@meltwater.com> 
Andrés de la Peña <a.penya.garcia@gmail.com> <adelapena@stratio.com> 
Angelo Polo <language.devel@gmail.com> Angelo Polo <polo.language@gmail.com> 
Anthony Cozzie <acozzie@datastax.com> 
Anthony Grasso <anthony.grasso@gmail.com> 
Ariel Weisberg <ariel.weisberg@datastax.com> <ariel.wesiberg@datastax.com> 
Ariel Weisberg <ariel.weisberg@datastax.com> Ariel Weisberg <ariel@weisberg.ws> 
Ariel Weisberg <ariel.weisberg@datastax.com> Ariel Weisberg <aweisberg@apple.com> 
Ariel Weisberg <ariel.weisberg@datastax.com> ariel <ariel.weisberg@datastax.com>
Arindam Gupta <arindamg@cisco.com> 
Arnd Hannemann <arnd@arndnet.de> 
Artem Aliev <artem.aliev@gmail.com> 
Arunkumar M <arunkumar.0190@gmail.com> 
Ashley Winters <ashley.winters@freedomvoice.com> 
Avinash Lakshman <alakshman@apache.org> 
Ben Chan <usrbincc@yahoo.com> 
Ben Manes <ben.manes@gmail.com> 
Ben Slater <ben.slater@instaclustr.com> 
Benedict Elliott Smith <benedict@apache.org> Benedict <belliottsmith@datastax.com> 
Benedict Elliott Smith <benedict@apache.org> Benedict <sub@laerad.com> 
Benedict Elliott Smith <benedict@apache.org> Benedict Elliott Smith <benedict@apple.com> 
Benedict Elliott Smith <benedict@apache.org> Benedict Elliott Smith <benedict@vast.com> 
Benedict Elliott Smith <benedict@apache.org> Benedict Elliott Smith <github@sub.laerad.com> 
Benedict Elliott Smith <benedict@apache.org> belliottsmith <github@sub.laerad.com> 
Benjamin Lerer <benjamin.lerer@datastax.com> Benjamin Lerer <b.lerer@gmail.com> 
Benjamin Lerer <benjamin.lerer@datastax.com> Benjamin Lerer <b_lerer@hotmail.com> 
Benjamin Lerer <benjamin.lerer@datastax.com> Benjamin Lerer <blerer@benjamin.lerer@datastax.com> 
Benjamin Lerer <benjamin.lerer@datastax.com> blerer <benjamin.lerer@datastax.com> 
Benjamin Lerer <benjamin.lerer@datastax.com> blerer <b_lerer@hotmail.com> 
Berenguer Blasi <berenguerblasi@gmail.com> Bereng <berenguerblasi@gmail.com> 
Berenguer Blasi <berenguerblasi@gmail.com> Berenguer Blasi <bblasi@jblasi.com> 
Bernhard K. Weisshuhn <bkw@codingforce.com> 
Bharatendra Boddu <bharatendrab@gmail.com> 
Björn Hegerfors <bj0rn@spotify.com> Bjorn Hegerfors <bj0rn@spotify.com> 
Björn Hegerfors <bj0rn@spotify.com> Björn Hegerfors <bjornheg@kth.se> 
Björn Hegerfors <bj0rn@spotify.com> Blake Eggleston <bdeggleston@gmail.com> 
Bogdan Kanivets <bkanivets@gmail.com> 
Boris Tsirkin <mail@dotbg.name> 
Brad Vernon <brad.vernon@datastax.com> 
Brandon Williams <brandonwilliams@apache.org> Brandon Williams <brandon@datastax.com> 
Branimir Lambov <branimir.lambov@datastax.com> 
Branimir Lambov <branimir.lambov@datastax.com> blambov <branimir.lambov@datastax.com> 
Branimir Lambov <branimir.lambov@datastax.com> branimir <branimir.lambov@datastax.com> 
Brent Theisen <brent@bantamlabs.com> 
Brett Snyder <bsnyder@iland.com> Brett Snyder <bsnyder788@gmail.com> 
Brian O'Neill <bone@alumni.brown.edu> 
Brian Wawok <brian.wawok@datasax.com> 
Bruno P. Kinoshita <kinow@users.noreply.github.com> 
C. Scott Andreas <cscotta@apple.com> 
Caleb Rackliffe <caleb.rackliff@gmail.com> Caleb Rackliffe <caleb.rackliffe@gmail.com> 
Caleb Rackliffe <caleb.rackliff@gmail.com> Caleb Rackliffe <calebrackliffe@gmail.com> 
Cameron Zemek <cameron@instaclustr.com> 
Carl Yeksigian <carl@apache.org> Carl Yeksigian <carl@yeksigian.com> 
Changsu Jiang <chsjiang@gmail.com> 
Cheng Ren <cheng.ren@bloomreach.com> 
Chris Bannister <c.bannister@gmail.com> 
Chris Batey <christopher.batey@gmail.com> 
Chris Burroughs <chris.burroughs@gmail.com> Chris Burroughs <chris.burroughs+apache@gmail.com> 
Chris Goffinet <goffinet@apache.org> Chris Goffinet <cg@chrisgoffinet.com> 
Chris Lockfort <clockfort@palantir.com> 
Chris Lohfink <Chris.Lohfink@datastax.com> Chris Lohfink <clohfink85@gmail.com> 
Chris Lohfink <Chris.Lohfink@datastax.com> Chris Lohfink <clohfink@apple.com> 
Chris Lohfink <Chris.Lohfink@datastax.com> Chris Lohfink <clohfink@users.noreply.github.com> 
Chris Moos <chris@chrismoos.com> 
Chris Stokesmore <elsmorian@gmail.com> 
Christian Esken <Christian.Esken@trivago.com> 
Christian Spriegel <christian.spriegel@movilizer.com> Christian Spriegel <horschi@googlemail.com> 
Christopher Batey <christopher.batey@gmail.com> Christoher Batey <christopher.batey@gmail.com> 
Colm O hEigeartaigh <coheigea@apache.org> 
Corentin Chary <c.chary@criteo.com> Corentin Chary <corentin.chary@gmail.com> 
DOAN DuyHai <doanduyhai@gmail.com> 
DaeMyung Kang <charsyam@apache.org> 
Daniel Chia <danstryder@gmail.com> 
Daniel Shelepov <daniel@timefork.com> 
Dave Brosius <dbrosius@apache.org> Dave Brosius <dbrosius@mebigfatguy.com> 
Dave Lester <dave_lester@apple.com> 
David Capwell <dcapwell@apache.org> David Capwell <dcapwell@apple.com> 
David Capwell <dcapwell@apache.org> David Capwell <dcapwell@gmail.com> 
David Kua <david@kua.io> 
David Sauer <davedamoon@gmail.com> 
Denis Ranger <denis.ranger@datastax.com> 
Dikang Gu <dikang85@gmail.com> 
Dinesh A. Joshi <dinesh.joshi@apple.com> Dinesh A. Joshi <dinesh.joshi@yahoo.com> 
Dinesh A. Joshi <dinesh.joshi@apple.com> Dinesh Joshi <dinesh.joshi@apple.com> 
Dinesh A. Joshi <dinesh.joshi@apple.com> Dinesh Joshi <dinesh.joshi@yahoo.com> 
Ding Yuan <yuan@eecg.toronto.edu> 
Dmitrij Koniajev <dimchansky@gmail.com> 
Dongqi Xue <dongqixue@users.noreply.github.com> 
Doug Rohrer <doug@therohrers.org> Doug Rohrer <drohrer@apple.com> 
Eduard Tudenhoefner <eduard.tudenhoefner@datastax.com> Eduard Tudenhöfner <eduard.tudenhoefner@datastax.com> 
Edward Capriolo <edlinuxguru@gmail.com> Edward <edlinuxguru@gmail.com> 
Edward Ribeiro <edward.ribeiro@gmail.com> 
Ekaterina Dimitrova <ekaterina.dimitrova@datastax.com> 
Eric Evans <eevans@apache.org> Eric Evans <eevans@sym-link.com> 
Eric Fenderbosch <eric.fenderbosch@segmint.com> 
Eric Hubert <eric.hubert@optivo.com> 
Erick Ramirez <flightctlr@gmail.com> 
Erik Forsberg <forsberg@efod.se> 
Fabien Rousseau <fabienrousseau@yahoo.fr> 
Fedor Bobin <fuudtorrentsru@gmail.com> 
Fransisco Fernandez Castano <francisco.castano@datastax.com> Francisco Fernandez <francisco.fernandez.castano@gmail.com> 
Fransisco Fernandez Castano <francisco.castano@datastax.com> Francisco Fernandez Castano <francisco.fernandez.castano@gmail.com> 
Fumiya Yamashita <fyamashi@yahoo-corp.jp> 
Fuud <fuudtorrentsru@gmail.com> 
Fábio Ueno <fabio.t.ueno@gmail.com> 
Gabriel Garcia <garciat@live.com> 
Gary Dusbabek <gdusbabek@apache.org> 
Geoffrey Yu <geoffrey_yu@apple.com> 
Georg Dietrich <gdiet@users.noreply.github.com> 
Giampaolo Trapasso <giampaolo.trapasso@radicalbit.io> 
Gianluca Righetto <gianluca@menttis.com> 
Graham Sanderson <graham@vast.com> 
Greg DeAngelis <gdeangel@gmail.com> 
Gregory Ramsperger <ramsperger@users.noreply.github.com> 
Gus Heck <gus@apache.org> 
Gustav Munkby <grddev@gmail.com> 
Guy Bolton King <guy@waftex.com> 
Hannu Kröger <hkroger@gmail.com> Hannu Kroger <hkroger@gmail.com> 
Harshrajsinh Thakor <hrthakor7@gmail.com> 
Hiroyuki Nishi <hnishi@yahoo-corp.jp> 
Hobin Yoon <hobinyoon@gmail.com> 
Ian Cleasby <ian.cleasby> 
Ian Macalinao <me@ian.pw> 
Imran Chaudhry <imran.chaudhry@datastax.com> 
Iuri Sitinschi <yukas66@gmail.com> 
Ivan Burmistrov <burmistrov.ivan@gmail.com> 
J.B. Langston <jblangston@datastax.com> 
J.P.Eiti Kimura <eiti.kimura@movile.com> 
Jacek Lewandowski <lewandowski.jacek@gmail.com> 
Jackels <njackels@osii.com> 
Jacob Becker <gigaplastik@gmail.com> 
Jaebin Lee <jblee@riseup.net> 
Jake Luciani <jake@apache.org> Jake Luciani <jluciani@bluemountaincapital.com> 
Jakub Janecek <janecek.jakub@gmail.com> 
James Berragan <jberragan@apple.com> 
James Lamb <james.lamb@uptake.com> 
James Roper <james@jazzy.id.au> 
Jan Karlsson <jan.karlsson@ericsson.com> 
Jan Urbański <jan@newrelic.com> 
Jason Brown <jasbrown@netflix.com> Jason Brown <jasedbrown@gmail.com> 
Jason Brown <jasbrown@netflix.com> Jason Brown <jasobrown@apple.com> 
Jay Zhuang <jzhuang@apache.org> Jay Zhuang <jay.zhuang@yahoo.com> 
Jay Zhuang <jzhuang@apache.org> Jay Zhuang <zjay@uber.com> 
Jaydeepkumar Chovatia <chovatia.jaydeep@gmail.com> 
Jean Carlo Rivera Ura <jriveraura.ext@orange.com> 
Jeff Jirsa <jjirsa@apple.com> Jeff Jirsa <jeff.jirsa@crowdstrike.com> 
Jeff Jirsa <jjirsa@apple.com> Jeff Jirsa <jeff@jeffjirsa.net> 
Jeff Lai <jlai@localytics.com> 
Jeff Widman <jeff@jeffwidman.com> 
Jeffrey Carpenter <jeffreyscarpenter@cox.net> 
Jeremiah Jordan <jeremiah@datastax.com> Jeremiah D Jordan <jeremiah@datastax.com> 
Jeremy Hanna <jhanna@datastax.com> Jeremy Hanna <jeremy.hanna1234@gmail.com> 
Jeremy Hanna <jhanna@datastax.com> Jeremy Hanna <jeromatron@gmail.com> 
Jeremy Ow <arbitraryemail25@gmx.com> 
Jesse Szwedko <jesse.szwedko@gmail.com> 
Jianwei Zhang <eezhangjianwei@gmail.com> 
Jim Witschey <jim.witschey@datastax.com> Jim Witschey <jim.witschey@gmail.com> 
Jimmy Mårdell <yarin@spotify.com> 
Joaquin Casares <joaquin.casares@gmail.com> Joaquin Casares <joaquin@thelastpickle.com> 
Jochen Niebuhr <jniebuhr@cfire.de> 
Joe Schaefer <joes@apache.org> 
Joel Knighton <jkni@apache.org> Joel Knighton <joel.knighton@datastax.com> 
Johan Oskarsson <johan@apache.org> 
Johannes Grassler <jgr-apache@btw23.de> 
Johnny Miller <jmiller@datastax.com> 
Jon Haddad <jon@jonhaddad.com> Jon Haddad jon@jonhaddad.com <jon@jonhaddad.com> 
Jon Meredith <jmeredithco@apple.com> Jon Meredith <jmeredithco@gmail.com> 
Jon Åslund <jon@aslund.org> 
Jonathan Ellis <jbellis@apache.org> Jonathan Ellis <jbellis@gmail.com> 
Jordan Vaughan <jordan.t.vaughan@gmail.com> 
Jordan West <jwest@apache.org> Jordan West <jordanrw@gmail.com> 
Jorge Bay Gondra <jorgebaygondra@gmail.com> 
Joseph Lynch <joe.e.lynch@gmail.com> 
Josh McKenzie <jmckenzie@apache.org> Josh McKenzie <josh.mckenzie@datastax.com> 
Josh Turner <turner.josh@gmail.com> 
Joshua McKenzie <jmckenzie@apache.org> Joshua McKenzie <Josh.McKenzie@datastax.com> 
Joshua McKenzie <jmckenzie@apache.org> Joshua McKenzie <josh.mckenzie@datastax.com> 
Joshua McKenzie <jmckenzie@apache.org> Joshua McKenzie <joshua.mckenzie@gmail.com> 
Julien Blondeau <lounagen@gmail.com> 
Jun Rao <junrao@apache.org> 
Jérôme Mainaud <jerome@mainaud.com> 
Kaide Mu <kaide.mu@gmail.com> 
Kevin Gallardo <kevin.gallardo@datastax.com> 
Kevin Wern <kevin.m.wern@gmail.com> 
Krishna Koneru <krishna.koneru@instaclustr.com> 
Kurt <kurt@instaclustr.com> 
Laine Jaakko Olavi <jaakko@apache.org> 
Lee Tang <leetang7@gmail.com> 
Lerh Chuan Low <lerh@instaclustr.com> 
Lewis John McGibbney <lewis.mcgibbney@gmail.com> 
Liang Xie <liangxie@apache.org> 
Liudmila Kornilova <liudmila.kornilova@jetbrains.com> Liudmila Kornilova <kornilova203@gmail.com> 
Lorina Poland <lorinapoland@gmail.com> 
Lyuben Todorov <ltodorov@datastax.com> Lyuben Todorov <lyuben@mail.com> 
Mahdi Mohammadi <mahdix@gmail.com> Mahdi Mohammadi <mm@binary.com> 
Malcolm Taylor <malcolm@semmle.com> 
Mallika Kulkarni <mallikad@google.com> 
Marcin Szymaniuk <marcin.szymaniuk@gmail.com> 
Marcus Eriksson <marcuse@apache.org> Marcus Eriksson <krummas@gmail.com> 
Marcus Eriksson <marcuse@apache.org> Marcus Eriksson <marcus_eriksson@apple.com> 
Marcus Eriksson <marcuse@apache.org> Marcus Eriksson <marcuse@spotify.com> 
Marcus Olsson <marcus.olsson@ericsson.com> 
Martin Langhoff <martin.langhoff@gmail.com> 
Marvin Froeder <marvin@thelastpickle.com> 
Masataka Yamaguchi <p-myamaguchi@yahoo-corp.jp> 
Massimiliano Tomassi <max.tomassi@datastax.com> 
Matt Byrd <matthew_byrd@apple.com> Matt Byrd <matthew.l.byrd@gmail.com> 
Matthias Weiser <MWeiser@ardmorefinancial.com> 
Matthieu Nantern <matthieu.nantern@gmail.com> 
Max Barnash <i.am@anhero.ru> 
Max Böhm <max.boehm@dxc.com> 
Michael Burman <yak@iki.fi> 
Michael Edge <edge.michael@gmail.com> 
Michael Kjellman <kjellman@apple.com> Michael Kjellman <mkjellman@internalcircle.com> 
Michael McKibben <mikemckibben@gmail.com> 
Michael Penick <michael.penick@datastax.com> 
Michael Shuler <mshuler@apache.org> Michael Shuler <michael@pbandjelly.org> 
Michal Matloka <mmatloka@gmail.com> 
Mick Semb Wever <mck@apache.org> mck <mck@apache.org> 
Mick Semb Wever <mck@apache.org> mck <mick@semb.wever.org> 
Mick Semb Wever <mck@apache.org> mck <mick@thelastpickle.com> 
Mihai Suteu <mihai@intheforest.co.jp> 
Mike Adamson <madamson@datastax.com> 
Mikhail Stepura <mishail@apache.org> Mikhail Stepura <mikhail.stepura@outlook.com> 
Mikkel Andersen <mikkel.t.andersen@gmail.com> 
Milan Milosevic <milan.milosevic@smartcat.io> 
Miles Garnsey <11435896+Miles-Garnsey@users.noreply.github.com> 
Murukesh Mohanan <mmullass@yahoo-corp.jp> 
Márton Salomváry <salomvary@gmail.com> 
Nachiket Patil <nachiket_patil@apple.com> 
Nate McCall <zznate.m@gmail.com> Nate McCall <zznate@gmail.com> 
Nick Bailey <nickmbailey@gmail.com> 
Nicolas Douillet <nicolas.douillet@gmail.com> 
Nicolas GUYOMAR <nguyomar@ippon.fr> 
Nicolas Lalevée <nicolas.lalevee@hibnet.org> 
Noam Hasson <noam@scylladb.com> 
Norman Maurer <norman@apache.org> Norman Maurer <nmaurer@redhat.com> 
Norman Maurer <norman@apache.org> Norman Maurer <norman_maurer@apple.com> 
Oded Peer <peer.oded@gmail.com> Oded Peer <peero1@ISXXPEERO1L1C.corp.emc.com> 
Oleg Anastasyev <oleganas@gmail.com> 
Olve Sæther Hansen <olvesh@gmail.com> 
Omid Aladini <omidaladini@gmail.com> 
Patrick Abeya <wombat@marsupial.org> 
Patrick Bannister <ptbannister@gmail.com> 
Patrick McFadin <patrick@datastax.com> 
Paul Macintosh <pm@goretechs.com> 
Paulo Motta <paulo@apache.org> Paulo Motta <pauloricardomg@gmail.com> 
Pavel Trukhanov <pavel.trukhanov@gmail.com> 
Pavel Yaskevich <xedin@apache.org> Pavel Yaskevich <povel.y@gmail.com> 
Pavel Yaskevich <xedin@apache.org> Pavel Yaskevich <pyaskevich@twitter.com> 
Paweł Rychlik <pawel.rychlik@rspective.pl> 
Pedro Gordo <pedro.gordo1986@gmail.com> 
Pekka Enberg <penberg@iki.fi> 
Pengchao Wang <wpc@fb.com> 
Per Otterström <per.otterstrom@ericsson.com> Per Otterstrom <per.otterstrom@ericsson.com> 
Per Otterström <per.otterstrom@ericsson.com> Per Otterström <per.otterstrom@gmail.com> 
Peter Lin <woolfel@gmail.com> 
Peter Palaga <ppalaga@redhat.com> 
Peter Schuller <scode@twitter.com> Peter Schuller <peter.schuller@infidyne.com> 
Phil Yang <ud1937@gmail.com> 
Philip Thompson <ptnapoleon@gmail.com> Philip Thompson <ptnapoleon@gmail.ccom> 
Philo Yang <ud1937@gmail.com> 
Pierre-Yves Ritschard <pyr@spootnik.org> 
Piotr Jastrzebski <haaawk@gmail.com> 
Piyush Rana <piyush@knoldus.com> 
Prajakta Bhosale <prajakta143@gmail.com> Prajakta Bhosale <prajakta_b143@yahoo.co.in> 
Prashant Malik <pmalik@apache.org> 
Preetika Tyagi <preetika.tyagi@intel.com> 
Rahul Nandi <rahulna@thoughtworks.com> 
Rajanarayanan Thottuvaikkatumana <rnamboodiri@gmail.com> 
Rei Odaira <Rei.Odaira@gmail.com> Rei Odaira <rodaira@us.ibm.com> 
Rens Groothuijsen <l.groothuijsen@alumni.maastrichtuniversity.nl> 
Ricardo Devis Agullo <rdevis@deusto.es> 
Rick Branson <rick@diodeware.com> 
Robbie Strickland <rostrickland@gmail.com> 
Robert Coli <robert.d.a.coli@gmail.com> 
Robert Stupp <snazy@snazy.de> Robert Stupp <snazy@snazy-ds15.fritz.box> 
Robert Stupp <snazy@snazy.de> Robert Stupp <snazy@snazy-ds15.local> 
Rocco Varela <rocco.varela@gmail.com> 
Romain GÉRARD <r.gerard@criteo.com> 
Romain Hardouin <romain_hardouin@yahoo.fr> 
Roman Pogribnyi <pogribnyi@gmail.com> 
Ron Kuris <ron.kuris@gmail.com> 
Ruggero Marchei <ruggero.marchei@daemonzone.net> 
Ruoran Wang <ruoranwang@gmail.com> 
Russ Hatch <rhatch@datastax.com> Russ Hatch <russthehatch@gmail.com> 
Russell Spitzer <Russell.Spitzer@gmail.com> Russell Spitzer <russell.spitzer@gmail.com> 
Ryan Magnusson <ryan.magnusson@gmail.com> 
Ryan McGuire <ryan@datastax.com> 
Ryan Scheidter <ryan.scheidter@cerner.com> 
Ryan Svihla <43972+rssvihla@users.noreply.github.com> 
Sam Tunnicliffe <sam@beobal.com> beobal <sam@beobal.com> 
Samar Dhwoj Acharya <coolsamar207@gmail.com> 
Samuel Fink <fsamuel@netapp.com> 
Samuel Klock <sklock@akamai.com> 
Samuel Roberts <sproberts92@outlook.com> 
Sandeep Tamhankar <sandeep.tamhankar@datastax.com> 
Sankalp Kohli <kohlisankalp@gmail.com> Sankalp Kohli <sankalp@apple.com>
Sankalp Kohli <kohlisankalp@gmail.com> sankalp kohli <kohlisankalp@gmail.com> 
Sankalp Kohli <kohlisankalp@gmail.com> sankalp kohli <ohlisankalp@gmail.com> 
Sankalp Kohli <kohlisankalp@gmail.com> sankalp kohli <sankalp@apple.com>  
Sarath P S <sps22@apple.com> 
Sebastian Estevez <sebastian.estevez@datastax.com> 
Serban Teodorescu <teodores@adobe.com> 
Sergey Kirillov <sergey.kirillov@gmail.com> 
Sergey Lapukhov <sergey.lapukhov@booking.com> 
Sergio Bossa <sergio.bossa@gmail.com> 
Sharvanath Pathak <sharvanath@gmail.com> 
Shichao An <shichao@uber.com> Shichao An <shichaoan.cn@gmail.com> 
Shiti Saxena <ssaxena.ece@gmail.com> 
Shogo Hoshii <shoshii@yahoo-corp.jp> 
Shyam Phirke <shyam_phirke@bmc.com> 
Simon Zhou <szhou@uber.com> 
Soumava Ghosh <soumava@apple.com> Soumava Ghosh <soumava@utexas.edu> 
Stavros Kontopoulos <stavros.kontopoulos@lightbend.com> 
Stefan Miklosovic <stefan.miklosovic@instaclustr.com> 
Stefan Podkowinski <jira@midnightdrift.com> Stefan Podkowinski <s.podkowinski@gmail.com> 
Stefan Podkowinski <jira@midnightdrift.com> Stefan Podkowinski <stefan.podkowinski@1und1.de>  
Stefania Alborghetti <stefania.alborghetti@datastax.com> Stefania <stefania.alborghetti@datastax.com>
Stefano Ortolani <ortolani@lastline.com> 
Stephen Connolly <stephen.alan.connolly@gmail.com> 
Stephen Mallette <spmva@genoprime.com> 
Sukret Hasdemir <sukreth@gmail.com> 
Sumanth Pasupuleti <spasupuleti.pasupuleti.is@gmail.com> Sumanth Pasupuleti <sumanth.pasupuleti.is@gmail.com> 
Sundar Srinivasan <krishna.sun@gmail.com> 
Suresh <suresh@sureshs-imac.home> 
Swen Fuhrmann <swen.fuhrmann.dev@gmail.com> 
Sylvain Lebresne <slebresne@apache.org> Sylvain Lebresne <lebresne@gmail.com> 
Sylvain Lebresne <slebresne@apache.org> Sylvain Lebresne <sylvain@datastax.com> 
Sylvain Lebresne <slebresne@apache.org> Sylvain Lebresne <sylvain@riptano.com> 
T Jake Luciani <jake@apache.org> T Jake Luciani <jakers@gmail.com> 
Taiyuan Zhang <taiyuanz@andrew.cmu.edu> 
Ted Petersson <ted.petersson@ericsson.com> 
Thomas Boucher <ethx.fr@gmail.com> 
Thomas Steinmaurer <thomas.steinmaurer@dynatrace.com> 
Thorkild Stray <thorkild-asfjira@stray.priv.no> 
Tim Lamballais <timlamballais@gmail.com> 
Tim Whittington <timw@apache.org> 
Tom Petracca <tpetracca@palantir.com> 
Tom van der Woerdt <info@tvdw.eu> 
Tomas Repik <trepik@redhat.com> 
Tommy Stendahl <tommy.stendahl@ericsson.com> 
Tushar Agrawal <agrawal.tushar@gmail.com> 
Tyler Hobbs <tylerhobbs@apache.org> Tyler Hobbs <tyler@datastax.com> 
Tyler Hobbs <tylerhobbs@apache.org> Tyler Hobbs <tylerlhobbs@gmail.com> 
Ulises Cervino Beresi <ulises.cervino@datastax.com> 
Valerie Parham-Thompson <parham@pythian.com> 
Varun Gupta <varung@uber.com> 
Venkata+Harikrishna Nukala <venukala@groupon.com> 
Vicente Jimenez Aguilar <googuy@gmail.com> 
Vijay <vijay2win@gmail.com> 
Vijay Parthasarathy <vijay2win@gmail.com> Vijay Parthasarathy <vparthasarathy@ipad.apple.com> 
Viju Kothuvatiparambil <viju.kothuvati@mindmax.us> 
Vinay Chella <vchella@netflix.com> Vinay Chella <vinaykumarcse@gmail.com> 
Vincent White <vince@instaclustr.com> 
Vishy Kasar <vkasar@apple.com> 
Vovodroid <vovodroid@gmail.com> 
Wei Deng <weideng@gmail.com> 
Yasuharu Goto <matope.ono@gmail.com> 
Yifan Cai <ycai@apache.org> Yifan Cai <yc25code@gmail.com> 
Yifan Cai <ycai@apache.org> Yifan Cai <yifan_cai@apple.com> 
Yifan Cai <ycai@apache.org> yifan-c <yc25code@gmail.com> 
Yifan Cai <ycai@apache.org> yifan-c <ycai@apache.org> 
Yifu Wang <yifuwang2012@gmail.com> 
Yuji Ito <yuji@imagine-orb.com> 
Yuki Morishita <yukim@apache.org> Yuki Morishita <mor.yuki@gmail.com> 
Yusuke Takata <ytakata@yahoo-corp.jp> 
Zephyr Guo <gzh1992n@gmail.com> 
Zhao Yang <zhaoyangsingapore@gmail.com> Zhao Yang <jasonstack@jasonstack-mac.local> 
Zhao Yang <zhaoyangsingapore@gmail.com> Zhao Yang <zhao_y@worksap.co.jp> 
Zhao Yang <zhaoyangsingapore@gmail.com> ZhaoYang <zhaoyangsingapore@gmail.com>
Zhao Yang <zhaoyangsingapore@gmail.com> jasonstack <zhaoyangsingapore@gmail.com> 
Zhiyan Shao <zhiyan@uber.com> 
Zhongxiang Zheng <zzheng@yahoo-corp.jp> 
adelapena <a.penya.garcia@gmail.com> 
ameya <ask1604@gmail.com> 
anubhavkale <anubhavk@microsoft.com> anubhavk <anubhavk@microsoft.com> 
anupshirolkar <anup.shirolkar@instaclustr.com> 
arunkumar-m <arunkumar.0190@gmail.com> 
barakm <barakme@gmail.com> 
benoit <b.wiart@ubik-ingenierie.com> 
brstgt <brstgt@googlemail.com> 
bryn <bryncooke@gmail.com> 
cormoran <cormoran707@gmail.com> 
dcranford <daniel.cranford@red-alpha.com> 
dimitarndimitrov <dmtrndmtrv@gmail.com> 
djanand <jogeshanand@gmail.com> 
dr3s <dr3s@users.noreply.github.com> 
dvohra <dvohra10@yahoo.com> 
edu <eduardoalonso@stratio.com> 
ghatwala <ghatwala@us.ibm.com> 
graham sanderson <graham@vast.com> 
gus <gus@needhamsoftware.com> 
hxd <sainthxd@gmail.com> 
jacek-lewandowski <jacek.lewandowski@datastax.com> 
jaydeepkumar1984 <chovatia.jaydeep@gmail.com> 
jean carlo <jean.jeancarl48@gmail.com> 
jluciani@bluemountaincapital.com <jluciani@workbox.local> 
jtgrabowski <jaroslaw.grabowski@datastax.com> 
kbrotman <33668875+kbrotman@users.noreply.github.com> 
kurt <kurt@instaclustr.com> 
lantao yan <yanlantao@hotmail.com> 
lyubent <ltodorov@dundee.ac.uk> 
michael <michael@localhost.localdomain> 
mmajercik <mmajercik@specter.firstmobileaffiliate.com> 
mpfau <mpfau@users.noreply.github.com> 
mszczygiel <mychal.szczygiel@gmail.com> 
nitsanw <nitsanw@yahoo.com> 
nothau <hau@rocketmobile.co> 
nvharikrishna <hari_nv2001@yahoo.co.in> nvharikrishna <n.v.harikrishna.apache@gmail.com> 
paul cannon <paul@datastax.com> 
phact <sdrummer44@gmail.com> 
pksivar <prsivaraju@walmart.com> 
polandll <lorinapoland@gmail.com> 
prmg <prmg87@gmail.com> 
rekhajoshm <dbrosius@mebigfatguy.com> 
sasayabaku <sasayabaku@yahoo.co.jp> 
sharvanath <sharvanath.pathak@rubrik.com> 
stefania <stefania.alborghetti@datastax.com> 
stinkymatt <stinkymatt@gmail.com> 
sumanthpasupuleti <sumanth.pasupuleti.is@gmail.com> 
tommy stendahl <tommy.stendahl@ericsson.com> 
vchella <vchella@netflix.com> 
vijay2win <vijay2win@gmail.com> 
vincent royer <vroyer@vroyer.org> 
vparthasarathy <vijay2win@gmail.com> 
vusal-ahmadoglu <vusal.ahmadoglu@gmail.com> 
wolfenha <wolfenha@adobe.com> 
xuanling.gc <xuanling.gc@alibaba-inc.com> 
yuqilinaro <yuqi.gu@linaro.org> 
zhaorenhai <zhaorenhai@hotmail.com> 
